.venv/
__pycache__/
*.pyc
*.pth
*.bin
*.safetensors
models/*
!models/.gitkeep
data/raw/*
!data/raw/.gitkeep
results/*.json
.env
wandb/
report/*.aux
report/*.log
report/*.out
report/*.toc
report/*.lof
report/*.lot
report/*.bbl
report/*.blg
